.feature-box {
	background-color: rgba($color: #fff, $alpha: 0.8);
	padding: 2.5rem 3rem;
	text-align: center;
	border-radius: 3px;
	font-size: 1.5rem;
	box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
	transition: transform 0.3s;
	&-icon {
		background-image: linear-gradient(to right, #7ed56f, #28b485);
		background-clip: text;
		color: transparent;
		display: inline-block;
		font-size: 6rem;
		margin-bottom: 0.5rem;
	}
	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
